img {
  width: 100%;
  height: 100%;
}
.input[type="text"] {
  width: 150px;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.input[type="text"]:focus {
  width: 100%;
}
