<div class="" style="margin-top: 40px;"></div>
<div class="container-fluid"> 
    <div class="row">
        <div class="form-group col-4">
          <input type="text" class="form-control" [(ngModel)]="seaching" (ngModelChange)="resultFilter()" placeholder="Tìm sản phẩm">
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-4 mt-2" *ngFor="let product of productShopFilter" >
                    <div class="card  border-primary" style="height: 100%">
                            <!-- hiển thị hình -->
                            <a [routerLink]="['/detail', product.id]">
                                <img [src]="'.' + product.imageUrl" alt="" class="d-block w-100"/>
                            </a>
                            
                            <div class="card-footer">
                                <div class="card-text">
                                    <h6>{{product?.productName}}</h6>
                                    <p class="card-text">{{product?.productCode}}</p>
                                    <p class="card-text">
                                        <app-star [Rating]="product.starRating" [nameRating]="product.productName" (outRating)="showRating($event)"></app-star>
                                    </p>
                                    <p class="card-text">{{product?.price|currency:"VND"}}</p>
                                    <br>
                                    <!--  -->
                                    <button class="btn btn-primary mr-2" [routerLink]="['/detail', product.id]">Chi tiết</button>
                                    <button *ngIf="product?.id" (click)="Add(product.id)" class="btn btn-primary">Mua</button>
                                </div>
                            </div>
                            
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-12" >
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh mục chính</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a [routerLink]="['/shop',category.id]" class="list-group-item" *ngFor="let category of categories">{{category.name}}</a>
                        
                    </ul>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div style="margin-bottom: 30px;"></div>