@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
.owl-carousel .item{
    margin: 3px;
  }
  .owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .owl-carousel .item {
      margin: 3px;
  }
  
  .owl-carousel{
      margin-bottom:15px;
  }
 
  