
<div style="margin-top: 10px; min-height: 80vh;">
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Danh mục</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCategory">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="productName">Tên danh mục</label>
                  <input type="text" [formControl]="formCategory.controls.name" class="form-control" id="productName" placeholder="Nhập tên danh mục">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="picture">Hình ảnh</label>
                  <input type="file"  class="form-control-file" (change)="onChange($event)" id="picture" accept="image/*" [formControl]="formCategory.controls.img">
                  <img [src]="'.'+file" width="20%" alt="" [formControl]="formCategory.controls.img">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" *ngIf="IsAdd==1" (click)="Add()">Save</button>
          <button type="button" class="btn btn-primary" *ngIf="IsUpdate==2" (click)="Update()">Update</button>
          <button type="button" class="btn btn-secondary" (click)="IsAdd=1;IsUpdate=0;clearForm()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <button [routerLink]="['/admin/auth']" class="btn btn-link ml-auto">Trang quản lí tài khoản</button>
  </div>
  <br>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId" (click)="clearForm()">
    Thêm
  </button>
  <div class="row mt-3 pl-3 pr-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên danh mục</th>
                <th>Danh mục hình ảnh</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categoryList; let i = index">
                <td> <a [routerLink]="['/admin/category',category.id]" class="">{{ category.name }}</a></td>
                <td>
                    <img src=".{{category.img }}" width="50px" alt="Category Image">
                </td>
                <td>
                    <button class="btn btn-primary"  (click)="Edit(i);IsAdd=0;IsUpdate=2; " data-toggle="modal" data-target="#modelId">Edit</button>
                    <button class="btn btn-danger" (click)="Delete(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
